:root {
    --line-color: linear-gradient(155deg, rgba(0,73,23,1) 0%, rgba(0,131,12,1) 50%, rgba(68,189,0,1) 100%);
    --leaf-color: linear-gradient(191deg, rgba(189,0,189,1) 0%, rgba(131,0,105,1) 50%, rgba(73,0,66,1) 100%);
    --fall-leaf-color: linear-gradient(11deg, rgba(73,0,66,1) 0%, rgba(131,0,105,1) 50%, rgba(189,0,189,1) 100%);
}

.rock {
    position: relative;
    background-color: var(--dark-grey);
    padding: .5rem .7rem;
    border-radius: 35% 65% 70% 30% / 53% 65% 35% 47%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.rock p {
    font-size: 1.5rem;
    color: var(--dark);
    font-weight: bold;
}

.flower {
    position: relative;
}

.flower-wrapper {
    position: absolute;
    left: 50%;
    bottom: 4vmin;
}

.flower_line {
    width: .67rem;
    height: 5rem;
    background-image: var(--line-color);
    border-radius: 4vmin;
    transform-origin: center bottom;
    animation: flower_line-move 5s infinite;
}
 
@keyframes flower_line-move {
    0% {
        transform: translateX(0) rotate(-2deg);
    }
    50% {
        transform: translateX(0)rotate(2deg);
    }
    100% {
        transform: translateX(0)rotate(-2deg);
    }
}

.flower-center {
    position: absolute;
    top: 1;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg);
    background-color: rgba(0,131,12,1);
    border-radius: 50% 50% 47% 53% / 22% 24% 76% 78%;
    width: 4.5rem;
    height: 2rem;
    z-index: 2;
}

.flower_leaf {
    position: absolute;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    width: 2.5rem;
    height: 4rem; 
    background-image: var(--leaf-color);
    clip-path: ellipse(50% 50% at 50% 50%);
    transform-origin: center bottom;
    z-index: 1;
}

.flower_leaf-1 {
    width: 5rem;
    height: 3rem;
    bottom: 15%;
    border-radius: 43% 57% 70% 30% / 53% 46% 54% 47% ;
    background-image: var(--leaf-color);
    background-color: #490042;
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.flower_leaf-1 .content-flower {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flower_leaf-1 .content-flower p {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.flower_leaf-2 {
    transform: translateX(-50%) rotate(-30deg);
    animation: flower-leaf-2 5s 1s infinite;
}

@keyframes flower-leaf-2 {
    0% {
        transform: translateX(-50%) rotate(-30deg);
    }
    50% {
        transform: translateX(-50%) rotate(-40deg);
    }
    100% {
        transform: translateX(-50%) rotate(-30deg);
    }
}


.flower_leaf-3 {
    transform: translateX(-50%) rotate(-70deg);
    animation: flower-leaf-3 5s 1s infinite;
}

@keyframes flower-leaf-3 {
    0% {
        transform: translateX(-50%) rotate(-70deg);
    }
    50% {
        transform: translateX(-50%) rotate(-80deg);
    }
    100% {
        transform: translateX(-50%) rotate(-70deg);
    }
}

.flower_leaf-4 {
    transform: translateX(-50%) rotate(-90deg);
    animation: flower-leaf-4 7s 1s infinite;
}

@keyframes flower-leaf-4 {
    0% {
        transform: translateX(-50%) rotate(-90deg);
    }
    50% {
        transform: translateX(-50%) rotate(-100deg);
    }
    100% {
        transform: translateX(-50%) rotate(-90deg);
    }
}

.flower_leaf-5 {
    transform: translateX(-50%) rotate(0deg);
    animation: flower-leaf-5 5s 1s infinite;
}

@keyframes flower-leaf-5 {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    50% {
        transform: translateX(-50%) rotate(10deg);
    }
    100% {
        transform: translateX(-50%) rotate(0deg);
    }
}

.flower_leaf-6 {
    transform: translateX(-50%) rotate(30deg);
    animation: flower-leaf-6 7s 1s infinite;
}

@keyframes flower-leaf-6 {
    0% {
        transform: translateX(-50%) rotate(30deg);
    }
    50% {
        transform: translateX(-50%) rotate(40deg);
    }
    100% {
        transform: translateX(-50%) rotate(30deg);
    }
}

.flower_leaf-7 {
    transform: translateX(-50%) rotate(70deg);
    animation: flower-leaf-7 6s 1s infinite;
}

@keyframes flower-leaf-7 {
    0% {
        transform: translateX(-50%) rotate(70deg);
    }
    50% {
        transform: translateX(-50%) rotate(80deg);
    }
    100% {
        transform: translateX(-50%) rotate(70deg);
    }
}

.flower_leaf-8 {
    transform: translateX(-50%) rotate(90deg);
    animation: flower-leaf-8 6s 1s infinite;
}

@keyframes flower-leaf-8 {
    0% {
        transform: translateX(-50%) rotate(90deg);
    }
    50% {
        transform: translateX(-50%) rotate(100deg);
    }
    100% {
        transform: translateX(-50%) rotate(90deg);
    }
}


.flower_leaf-9 {
    transform: translateX(-50%) translateY(-30%) rotate(-150deg);
    animation: flower-leaf-9 6s 1s infinite;
}

@keyframes flower-leaf-9 {
    0% {
        transform: translateX(-50%) translateY(-30%) rotate(-150deg);
    }
    50% {
        transform: translateX(-50%) translateY(-30%) rotate(-140deg);
    }
    100% {
        transform: translateX(-50%) translateY(-30%) rotate(-150deg);
    }
}

.flower_leaf-10 {
    transform: translateX(-50%) translateY(-30%) rotate(-190deg);
    animation: flower-leaf-10 6s 1s infinite;
}

@keyframes flower-leaf-10 {
    0% {
        transform: translateX(-50%) translateY(-30%) rotate(-190deg);
    }
    50% {
        transform: translateX(-50%) translateY(-30%) rotate(-180deg);
    }
    100% {
        transform: translateX(-50%) translateY(-30%) rotate(-190deg);
    }
}


