main {
  padding: 1.2rem;
  font-family: "Nunito", sans-serif;
}

.crossword-wrapper {
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background-color: white; 
  padding-bottom: 2px;
}

.clues {
  font-size: 1.5rem;
}

.direction .header {
  color: var(--terd-color);
}

.clue {
  color: var(--primary-color);
  background-color: rgb(255, 255, 255) !important;
}

.feedback {
  padding: 1rem;
}
